# Proyek Analisis Data: bike sharing dataset
- **Nama:** Rey Aji Darusalam
- **Email:** reyaji21@if.unjani.ac.id
- **ID Dicoding:** N9ZOOQRJ6ZG5

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1 : Bagaimana penggunaan layanan bike sharing berkaitan dengan faktor-faktor seperti musim, cuaca, dan waktu dalam sehari?
- Pertanyaan 2 : Bagaimana pola penggunnaan sepeda berubah seiring waktu, khususnya dalam kaitannya dengan musim dan hari libur

## Import Semua Packages/Library yang Digunakan

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

## Data Wrangling

### Gathering Data

Membaca file CSV menjadi DataFrame dan Menampilkan DataFrame hour_df

In [ ]:
hour_df = pd.read_csv("hour.csv")
hour_df.head()

Membaca file CSV menjadi DataFrame dan Menampilkan DataFrame day_df

In [ ]:
day_df = pd.read_csv("day.csv")
day_df.head()

### Assessing Data

Menampilkan info terbaru dari day_df

In [61]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

Menampilkan info terbaru dari hour_df

In [62]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

Menampilkan data yang hilang (missing value) dari day_df

In [63]:
day_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

Menampilkan data yang hilang (missing value) dari hour_df

In [64]:
hour_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

Mengecek apakah ada duplikasi atau tidak pada day_df

In [65]:
print("Jumlah Duplikasi : ", day_df.duplicated().sum())

Jumlah Duplikasi :  0

Mengecek apakah ada duplikasi atau tidak pada hour_df

In [66]:
print("Jumlah Duplikasi : ", hour_df.duplicated().sum())

Jumlah Duplikasi :  0

Menampilakn ringkasan statistik deskriptif dari day_df

In [67]:
day_df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

Menampilakn ringkasan statistik deskriptif dari hour_df

In [68]:
hour_df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

### Cleaning Data

In [69]:
hour_df.drop_duplicates(inplace=True)
hour_df.dropna(inplace=True)
hour_df['dteday'] = pd.to_datetime(hour_df['dteday'])
hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

## Exploratory Data Analysis (EDA)

Data Statistik Harian

In [ ]:
day_df.describe(include="all")

Penggunaan Layanan Bike-Sharing pada hari kerja dan hari libur

In [ ]:
day_df.describe(include="all")
day_df.groupby(by=["workingday", "weekday"]).agg({
    "casual": "sum",
    "registered": "sum",
    "cnt": "sum"
})

Penggunaan Layanan Bike Sharing Berdasarkan Musim dan Tanggal

In [ ]:
day_df.groupby(by=["season", "dteday"]).agg({
    "casual": "sum",
    "registered": "sum",
    "cnt": "sum"
})

 Menggabungkan data berdasarkan musim dan tanggal, kemudian menghitung total penggunaan layanan bike sharing untuk pengguna casual, pengguna terdaftar, dan total pengguna

In [ ]:
usage_by_season_date = day_df.groupby(by=["season", "dteday"]).agg({
    "casual": "sum",
    "registered": "sum",
    "cnt": "sum"
})
usage_by_season_date.head()

Mendistribusikan suhu menggunakan histogram

In [ ]:
st.write(hour_df.describe())

plt.figure(figsize=(10,6))
sns.histplot(data=hour_df, x='temp', bins=30, kde=True)
plt.title('Distribusi Suhu')
plt.xlabel('Suhu(Celsius)')
plt.ylabel('Frekuensi')
plt.show()

### Explore ...

Korelasi antara suhu dan penyewa sepeda

In [ ]:
plt.figure(figsize=(10,6))
sns.scatterplot(data=hour_df, x='temp', y='cnt')
plt.title('Hubungan Suhu dan Sewa Sepeda')
plt.xlabel('Suhu(Celsius)')
plt.ylabel('Jumlah Sewa Sepeda')
plt.show()

## Visualization & Explanatory Analysis

### Pertanyaan 1: Melihat pola apakah ada korelasi antara suhu dan jumlah sewa sepeda.

In [ ]:
plt.figure(figsize=(10, 6))
sns.scatterplot(data=hour_df, x='weathersit', y='cnt')
plt.title('Pengaruh Cuaca terhadap Jumlah Sewa Sepeda')
plt.xlabel('Cuaca')
plt.ylabel('Jumlah Sewa Sepeda')
plt.show()

### Pertanyaan 2: Melihat hubungan antara pengguna sepeda dengan penggunaan sepeda.

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(data=day_df, x='dteday', y='cnt')
plt.title('Pola Penggunaan Sepeda per Hari')
plt.xlabel('Tanggal')
plt.ylabel('Jumlah Sewa Sepeda')
plt.xticks(rotation=45)
plt.show()

## Conclusion

- Conclution pertanyaan 1 : Berdasarkan analisis, terbukti bahwa cuaca mempunyai pendekatan yang penting dalam mengurangi jumlah limbah sepeda. Sebaliknya, cuaca cerah cenderung meningkatkan jumlah limbah, karena buruk cenderung memiliki jumlah limbah yang lebih rendah.
- Conclution pertanyaan 2 : Penggunaan sepeda menghasilkan kontraksi otot yang jelas, dengan puncak kontraksi yang lebih tinggi pada saat puncak kontraksi otot dan kontraksi puncak yang lebih rendah pada saat puncak kontraksi otot. Selain itu, terdapat fluktuasi harian yang menunjukkan bagaimana karyawan menggunakan sistem selama minggu kerja dan akhir pekan, dengan tingkat penggunaan yang lebih tinggi pada hari kerja.